*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #54483A;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4.5rem; }

.heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }
  .heading-3-dark {
    color: #c69963;
    font-size: 1.5rem; }

.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }
  .heading-4-dark {
    font-size: 1.5rem;
    color: #6D5D4B;
    text-transform: uppercase;
    letter-spacing: .3rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4.5rem; }

.sidebar {
  background-color: #c69963;
  grid-row: 1 / -1; }

.header {
  background-color: #101d2c;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #aaa;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  margin: 15rem 0; }
  .features .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    align-items: start; }
    .features .feature-icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: #c69963;
      grid-row: 1/span 2;
      transform: translateY(-1rem); }
    .features .feature .heading-text {
      font-size: 1.5rem; }

.story-pictures {
  background-color: #101d2c;
  grid-column: full-start / col-end 4; }

.story-content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .story-content-text {
    font-size: 1.5rem;
    font-weight: 400; }
  .story-content-btn {
    color: #f9f7f6;
    background-color: #c69963;
    padding: 1.8rem 2rem;
    font-size: 2.5rem;
    border: none;
    transition: all .2s; }
  .story-content-btn:hover {
    background-color: #B28451; }

.homes {
  background-color: #aaa;
  grid-column: center-start /center-end; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start /full-end; }

.footer {
  background-color: #6D5D4B;
  grid-column: full-start /full-end; }
